<div>
  <p><%= @question.title %></p>
  <time><%=@question.formatted_created_at %></time>
  <p><%= @question.body %></p>
</div>
<%= link_to 'Back', questions_path, class: 'btn btn-primary' %>
<%= link_to "Edit", edit_question_path(@question), class: 'btn btn-info' %>
<%= link_to "Destroy", question_path(@question),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>

<h2>Answers:</h2>

<%= render @question.answers %>

<h2>Write an answer:</h2>

<%= render 'answers/form' %>