<%= form_with model: [ @question, @question.answers.build ] do |form| %>
  <p>
    <%= form.label :answerer %><br>
    <%= form.text_field :answerer %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= form.label :status %>
      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div>
  </div>
  <p>
    <%= form.submit %>
  </p>

<% end %>