<%= form_with model: [ @question, @answer ] do |form| %>
  <p>
    <%= form.label :answerer %><br>
    <%= form.text_field :answerer %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>